.contact__container {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  margin-top: 3rem;
  padding: 1.5rem 3rem;
}
.contact__serviceIcon:nth-child(1) {
  margin-left: 1rem;
}

.contact__serviceIcon:nth-child(2) {
  margin-right: 1rem;
}
.contact__container a {
  color: var(--clr-white);
  font-size: 1.1rem;
  margin-top: 0.9rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
