.farsi-text {
  font-family: "Vazir";
}
* {
  font-family: "Vazir" !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Variables ----------------------------------------------------------------- */
:root {
  --clr-primary: #0056b3;
  --clr-secondary: #e8f0fe;
  --clr-accent: #33cc99;
  --clr-grey: #808080;
  --clr-white: #ffffff;
  --clr-black: #000000;
}